## 점심시간 문제 


### 문제1. 분산과 표준편차를 코드로 구현하세요 ~



### 우리반 나이 데이터의 분산값과 표준편차를 파이썬 코드로 출력하세요 ! 아래의 리스트를 사용하세요!



### [32,30,26,25,34,25,27,31,27,28,32,30,29,27,34,26,31,27,25,27,27,25,32,26,31,24,25,29,40]



### numpy의 var 과 std 를 사용하지 말고 구현하세요 ~

In [17]:
import  cx_Oracle  # 오라클과 파이썬을 연동하기 위한 모듈

import  pandas  as  pd

dsn = cx_Oracle.makedsn("localhost", 1521, "orcl")

db = cx_Oracle.connect("scott", "tiger", dsn)

cursor = db.cursor()

cursor.execute("select * from emp10")

row = cursor.fetchall()

colname = cursor.description

cursor.close()



col=[]

for i in colname:

    col.append(i[0])

emp = pd.DataFrame(row, columns=col)

print(emp[['AGE']])

a = []

for k in emp['AGE']:
    a.append(k)
    a.sort()
    
print(a)
b=0

for i in a:
    b += i
    y = b / len(a)

print(y) # 리스트값들의 평균

c=0
s=0
var = 0
for i in a:
    c += ((i-y)**2)

var = c/len(a)
std = var**0.5

print(c) # 편차의 제곱의 합
print(var) # 편차의 제곱의 합의 평균 = 분산
print(std) # 표준편차

    AGE
0    32
1    30
2    26
3    25
4    34
5    25
6    27
7    31
8    27
9    28
10   32
11   30
12   29
13   27
14   34
15   26
16   31
17   27
18   25
19   27
20   27
21   25
22   32
23   26
24   31
25   24
26   25
27   29
28   40
[24, 25, 25, 25, 25, 25, 26, 26, 26, 27, 27, 27, 27, 27, 27, 28, 29, 29, 30, 30, 31, 31, 31, 32, 32, 32, 34, 34, 40]
28.689655172413794
366.2068965517242
12.627824019024972
3.5535649732381387

## 분산과 표준편차가 필요한 이유?

### 1. 데이터 분석가 : 기본적으로 알아야 하는 개념

### 2. 딥러닝 개발자 : 신경망안에 학습이 잘되게 조정하는 기법 

#### 배치정규화의 수학식을 이해하려면 알아야한다.

## 분산 
 데이터의 퍼짐 정도를 나타내는 수치
 
## 표준편차  
 분산값에 루트를 씌운값( 실제값과 평균값과의 편차)

## 예제58. 예외처리 이해하기 4 (try ~ except Excepton as e)

코드에서 예외가 발생하면 이에 대한 자세한 내용을 파악하는 것이 중요합니다.
파이썬은 발생 가능한 예외에 대해 exception 객체로 미리 정의해두고 있는데
이에 대한 내용은 다음 링크에서 확인할 수 있습니다.

### 예외처리 URL 확인해보기 : http:docs.python.org/3/library/exceptions.html

In [ ]:
def my_divide():
    try:
        x = input('분자의 숫자를 입력하세요~')
        y = input('분모의 숫자를 입력하세요~')

        return int(x)/int(y)

    except ZeroDivisionError: # 파이썬에서 미리 정해놓은 에러 (0으로 나누었을때의 예외상황) #대소문자 주의
        return ('0으로 나눌 수 없습니다.')

    except KeyboardInterrupt: 
        return ('사용자에 의해서 프로그램이 종료됩니다.')

    except:
        return('나누기를 할 수 없습니다.')

print(my_divide())

## 예외로 코드상의 오류를 확인하는 방법

In [ ]:
try:
    print(param) # param을 정의하지 않아서 실행이 안되는 코드.

except Exception as e: # 실행이 안되는 이유를 e를 통해서 알려줌!
    print(e)

# name 'param' is not defined

## 예제59. 사용자 정의 예외처리

파이썬 입장에서 봤을 때는 오류가 아닌데 프로그래머가 '이건 오류이다.'  라고 일부러 프로그램이  
안돌게 오류 메세지를 출력하는 경우에 사용한다.

__예제__ : 금융권 프로그램에서 금액이 안맞는 프로그램이 있다면 사고로 이어지게 되므로 금액이 안맞으면  
프로그램을 종료해라고 예외처리를 할 수 있다.

In [ ]:
#예제:


def 함수명:  
    실행코드  
    if 어떤 조건:  
        raise Exception("예외가 발생 했습니다.")  
    else:    
        return 변수명

## 문제117. 이름을 물어보게 하고 이름을 입력하면 해당 사원의 월급이 출력되는 파이썬 코드를  
## 작성하시오!(판다스 사용)

print( find_sal())

사원이름을 입력하세요 ~ king
5000

In [4]:
#답 
def find_sal():
    import pandas as pd
    emp = pd.read_csv("d:\\data\emp3.csv")
    name = input('사원 이름을 입력하세요~')
    sal = emp['sal'][emp['ename'] == name.upper()].values[0] #values[0]
    return sal

print(find_sal())

사원 이름을 입력하세요~SCOTT
3000

## 문제118. 위의 코드에 사용자 정의 예외처리를 이용해서 월급이 고소득자는 해당 사원의  
## 월급을 볼 수 없습니다. 라는 메세지가 출력되게 하시오!

In [7]:
def find_sal():
    import pandas as pd
    emp = pd.read_csv("d:\\data\emp3.csv")
    name = input('사원 이름을 입력하세요~')
    sal = emp[['sal']][emp['ename'] == name.upper()].values[0]
    
    if sal >= 3000:
        raise Exception("월급을 볼 수 없습니다.")
    else:
        return sal

print(find_sal())

사원 이름을 입력하세요~SCOTT

Exception: 월급을 볼 수 없습니다.

## 예제60. 사용자(값) 입력 받기(input)

파이썬 내장 함수 input은 사용자가 키보드로 입력한 값을 __문자열__로 리턴합니다.
input()의 인자는 사용자 입력을 돕기 위한 안내 문구나 힌트 등을 표시하는 문자열이 됩니다.

In [ ]:
k = input('<값> 을 입력하세요 ~')
print('당신이 입력한 값은 < '+ k + '> 입니다.')

## ★★ 문제119★★. 위의 코드를 다시 실행하는데 아무것도 입력하지 않으면 입력할때까지 계속 물어보게 하시오~

In [ ]:
k = input('<값> 을 입력하세요 ~')
while k == '':                       # while문을 계속 물어보게 시키자!
    k = input('<값> 을 입력하세요 ~')
print('당신이 입력한 값은 < '+ k + '> 입니다.')

## 문제120. 이름을 물어보게하고 이름을 입력하면 월급이 출력되어지는 find_sal()함수를 수정해서  
## 이름을 입력하지 않으면 계속 물어보게 하시오!.

print(find_sal())  
이름을 입력하세요~  
이름을 입력하세요~  
이름을 입력하세요~  
이름을 입력하세요~

In [ ]:
def find_sal():
    import pandas as pd
    emp = pd.read_csv("d:\\data\emp3.csv")
    name = input('사원 이름을 입력하세요~')
    while name == '':
        name = input('사원 이름을 입력하세요~')
    
    sal = emp[['sal']][emp['ename'] == name.upper()].values[0]
    

    if sal >= 3000:
        raise Exception("월급을 볼 수 없습니다.")
    else:
        return sal

print(find_sal())

## 문제121. 위의 코드를 수정해서 없는 사원이름을 입력하면  
## "해당 사원은 없습니다." 라는 메세지가 출력되게 하시오.

In [7]:
def find_sal():
    try : 
        import pandas as pd
        emp = pd.read_csv("d:\\data\emp3.csv")
        name = input('사원 이름을 입력하세요~')

        while name == '':
            name = input('사원 이름을 입력하세요~')

        sal = emp[['sal']][emp['ename'] == name.upper()].values[0]



        if sal >= 3000:
            raise Exception("월급을 볼 수 없습니다.")
        else:
            return sal
    except LookupError:
        return ('해당 사원은 없습니다.')

print(find_sal())

사원 이름을 입력하세요~wkler
해당 사원은 없습니다.

## 예제61. 자료형 확인하기(type)

파이썬의 자료형은 하나의 클래스이다. 파이썬은 숫자나 문자, 문자열, 리스트, 튜플, 사전, 함수 등을 각각의 하나의 클래스로 취급한다.  
코드를 작성하다가 변수 이름만 보고 이 자료가 어떤 자료형인지 확인해야하는 경우가 있다.  
이때 파이썬 내장함수인 type()을 활용하면 자료형을 쉽게 확인할 수 있다.

In [8]:
numdata = 57
print(type(numdata)) # <class 'int'>
strdata = '파이썬'
print(type(strdata)) # <class 'str'>
listdata = [1,2,3]
print(type(listdata)) # <class 'list'>

<class 'int'>
<class 'str'>
<class 'list'>

## 문제122. 딕셔너리 자료형을 만들고 위와 같이 type을 확인하시오!

In [10]:
dicdata = {'a':1, 'b':2}
print(type(dicdata)) # <class 'dict'>

<class 'dict'>

## 예제62. 나눗셈에서 나머지만 구하기(%)

나누기 연산에서 나머지만 구하는 연산을 모듈로(modulo)연산이라 하며 기호는 mod로 표시합니다.

In [11]:
print(12%3)
print(12%5)

0
2

## 문제123. 아래와 같이 두개의 숫자를 각각 물어보게 하고 아래의 메세지가 출력되게 하시오!

In [ ]:
x = int(input('첫번째 숫자를 입력하세요~!'))
y = int(input('두번째 숫자를 입력하세요~!'))
c = x%y
print('%d을 %d 으로 나누면 %d 가 나머지로 남습니다.' , %(x,y,c))

## 예제63. 몫과 나머지 구하기(divmod)

In [ ]:
a = 1123
b = 23

ret1, ret2 = divmod(a,b) # ret1은 몫, ret2 는 나머지

print(ret1,ret2)

## 예제64. Pandas를 이용한 데이터 검색

### SQL -> Pandas  


### Pandas --> SQL


예제 : emp[['ename','sal']] [emp['ename'] == 'SCOTT'] 검색하려고 하는 열이 2개이상일때  
예제 : emp['ename'] [emp['ename']== 'SCOTT'] 검색하려고 하는 열이 1개일때

In [21]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
print(emp[['ename','sal']] [emp['sal'] >= 3000])

    ename   sal
0    KING  5000
9    FORD  3000
11  SCOTT  3000

## 문제124. 아래의 SQL을 Pandas로 구현하시오!

SQL> 

select ename, sal  
    from emp  
    where sal between 1000 and 3000;

In [ ]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
print(emp[['ename','sal']] [emp['sal'].between(1000,3000)])

## 문제125. 아래의 SQL을 Pandas로 구현하시오!

SQL>

select ename, sal  
    from emp  
    where sal not between 1000 and 3000;

In [23]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
print(emp[['ename','sal']] [~emp['sal'].between(1000,3000)])

    ename   sal
0    KING  5000
7   JAMES   950
10  SMITH   800

## 문제126. 아래의 SQL을 Pandas로 구현하시오!

SQL>

select ename, job  
  from emp  
  where job in('SALESMAN', 'ANALYST');

In [ ]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
print(emp[['ename','job']] [emp['job'].isin(['SALESMAN','ANALYST'])]) #isin 안에 조건도 리스트형으로 나타내 주어야 한다.

## 예제65. Pandas를 이용한 조인

SQL>  
select e.ename, d.loc  
    from emp e, dept d  
    where e.deptno = d.deptno;

In [30]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
dept = pd.read_csv("d:\\data\dept.csv")
result = pd.merge(emp, dept, on = "deptno") #조인은 merge로 한다 on="deptno"는 조인조건
print (result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    BLAKE   CHICAGO
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9    JONES    DALLAS
10    FORD    DALLAS
11   SMITH    DALLAS
12   SCOTT    DALLAS
13   ADAMS    DALLAS

## 문제127. 아래의 SQL을 Pandas로 구현하시오!

SQL>

SELEct e.ename, d.loc   
  from emp e, dept d  
  where e.deptno = d.deptno and d.loc = 'DALLAS';

In [33]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
dept = pd.read_csv("d:\\data\dept.csv")
result = pd.merge(emp, dept, on = "deptno") #조인은 merge로 한다 on="deptno"는 조인조건
print (result[['ename','loc']][result['loc'] == 'DALLAS'])

    ename     loc
9   JONES  DALLAS
10   FORD  DALLAS
11  SMITH  DALLAS
12  SCOTT  DALLAS
13  ADAMS  DALLAS

## 문제128. 아래의 SQL을 Pandas로 구현하시오!

SQL>

Select e.ename, d.loc  
    from emp e, dept d  
    where e.deptno = d.deptno(+);

In [39]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
dept = pd.read_csv("d:\\data\dept.csv")
result = pd.merge(emp, dept, on = "deptno", how ='left') # outer join 은 how = 'left' or 'right'로 표현한다.
print (result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    BLAKE   CHICAGO
2    CLARK  NEW YORK
3    JONES    DALLAS
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9     FORD    DALLAS
10   SMITH    DALLAS
11   SCOTT    DALLAS
12   ADAMS    DALLAS
13  MILLER  NEW YORK

## 문제129. 아래의 SQL을 Pandas로 구현하시오!

SQL>

select e.ename, d.loc  
    from emp e full outer join dept d  
    on (e.deptno = d.deptno);

In [38]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
dept = pd.read_csv("d:\\data\dept.csv")
result = pd.merge(emp, dept, on = "deptno", how ='outer') # full outer join 은 how = 'outer'로 바꾸어 주면된다.
print (result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    BLAKE   CHICAGO
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9    JONES    DALLAS
10    FORD    DALLAS
11   SMITH    DALLAS
12   SCOTT    DALLAS
13   ADAMS    DALLAS
14     NaN    BOSTON

## 예제66. Pandas를 이용한 서브쿼리


## 문제130. 아래의 SQL을 Pandas로 구현하시오!

SQL>  
seelct ename, sal    
    from emp    
    where sal = (select max(sal)   
                    from emp);

In [40]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
maxsal = emp['sal'].max()
result = emp[['ename','sal']] [emp['sal'] == maxsal ]
print(result)

  ename   sal
0  KING  5000

## 문제131. 아래의 SQL을 Pandas로 구현하시오!

SQL>  
Select ename, sal  
from emp  
where sal > (select sal   
                from emp  
                where ename ='JONES');

In [55]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
j_sal = int(emp['sal'][emp['ename'] == 'JONES']) # int로 자료형 바꾸어주기
result = emp[['sal', 'ename']][emp['sal'] > j_sal]

print(result)

     sal  ename
0   5000   KING
9   3000   FORD
11  3000  SCOTT

## 예제67. Pandas와 오라클 그룹함수 비교

SQL>

Select max(sal)  
    from emp;

In [ ]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")

print(emp['sal'].max())
print(emp['sal'].min())
print(emp['sal'].sum())
print(emp['sal'].var()) #분산
print(emp['sal'].std()) #표준편차

## 문제132. 아래의 SQL을 Pandas로 구현하시오!


SQL>

select max(sal)  
from emp  
where deptno = 20;

In [59]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")

print(emp['sal'][emp['deptno'] == 20 ].max())

3000

## 문제133. 아래의 SQL을 Pandas로 구현하시오!

SQL>

Select min(sal)  
    from emp  
    where job = 'SALESMAN';

In [62]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")

print(emp['sal'][emp['job'] == 'SALESMAN' ].min())

4    1250
5    1600
6    1500
8    1250
Name: sal, dtype: int64
1250

## 문제134. 아래의 SQL을 Pandas로 구현하시오!

SQL>  
select job, max(sal)  
  from emp  
  group by job;

In [66]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
result = emp.groupby('job')['sal'].max()
print(result)

job
ANALYST      3000
CLERK        1300
MANAGER      2975
PRESIDENT    5000
SALESMAN     1600
Name: sal, dtype: int64

In [67]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
result = emp.groupby('job')['sal'].max().reset_index()
print(result)

         job   sal
0    ANALYST  3000
1      CLERK  1300
2    MANAGER  2975
3  PRESIDENT  5000
4   SALESMAN  1600

### ※ reset_index()는 series로 저장하는게 아니라 data frame(=table)로 저장하는 방법 입니다.

## 문제135. 아래의 SQL을 Pandas로 구현하시오!

SQL>

select deptno, sum(sal)  
    from emp  
    group by deptno;

In [ ]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")

result = emp.groupby('deptno')['sal'].sum().reset_index()
print(result)

## 문제136. 아래의 SQL을 Pandas로 구현하시오!

SQL>
select deptno, sum(sal)  
    from emp  
    where deptno != 20  
    group by deptno;

In [8]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")

result = emp.groupby('deptno')['sal'].sum().reset_index()

print(type(result))
print(result[['deptno','sal']] [result['deptno'] != 20])
print(result)

<class 'pandas.core.frame.DataFrame'>
   deptno   sal
0      10  8750
2      30  9400
   deptno    sal
0      10   8750
1      20  10875
2      30   9400

## 문제137. 아래의 SQL을 판다스로 구현하시오!

SQL>
select deptno, sum(sal)  
    from emp  
    group by deptno  
    order by sum(sal) desc;

In [83]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")

result = emp.groupby('deptno')['sal'].sum()
result2 = result.sort_values(ascending = False) # SQL에서 Orderby를 오라클로 구사하려면 따로 코드를 정의해야한다.
print(result2.reset_index())

   deptno    sal
0      20  10875
1      30   9400
2      10   8750

## 문제138. 아래의 SQL을 Pandas로 구현하시오!

SQL>  

Select ename, sal, job  
    from emp  
    where job = 'SALESMAN'  
    order by sal desc;

In [84]:
import pandas as pd
emp = pd.read_csv("d:\\data\emp3.csv")
emp2 = emp[['ename', 'sal', 'job']][emp['job'] == 'SALESMAN']
emp2 = emp2.sort_values('sal', ascending = False )
print(emp2)

    ename   sal       job
5   ALLEN  1600  SALESMAN
6  TURNER  1500  SALESMAN
4  MARTIN  1250  SALESMAN
8    WARD  1250  SALESMAN

## 문제139. 아래의 SQL을 pandas로 구현하시오!

SQL>

select job, sum(sal)  
    from emp  
    where job != 'SALESMAN'  
    group by job  
    order by sum(sal) desc;

In [87]:
import pandas as pd

emp = pd.read_csv("d:\\data\emp3.csv")

result = emp.groupby('job')['sal'].sum().reset_index()

result2 = result[['job','sal']] [result['job'] != 'SALESMAN']

result2 = result2.sort_values('sal', ascending = False)

print(result2)

         job   sal
2    MANAGER  8275
0    ANALYST  6000
3  PRESIDENT  5000
1      CLERK  4150

## Pandas를 이용해서 순위를 출력하는 방법

SQL>

select ename, sal, rank() over (order by sal desc) 순위  
from emp;

In [ ]:
import pandas as pd

emp = pd.read_csv("d:\\data\emp3.csv")
# 판다스를 이용해서 파생변수를 생성 하는 방법

emp['rnk'] = emp['sal'].rank(ascending = False).apply(int)  # 컬럼 'rnk' 추가하기 apply.(int) 정수로 적용해라!
print(emp['rnk'])
emp = emp.sort_values('rnk', ascending = True)
print(emp[['ename', 'sal', 'rnk']])

In [90]:
import pandas as pd

emp = pd.read_csv("d:\\data\emp3.csv")
# 판다스를 이용해서 파생변수를 생성 하는 방법

emp['rnk'] = emp['sal'].rank(ascending = False).apply(str)  # 컬럼 'rnk' 추가하기 apply.(str) 이면 ?
print(emp['rnk'])
emp = emp.sort_values('rnk', ascending = True)
print(emp[['ename', 'sal', 'rnk']])

0      1.0
1      5.0
2      6.0
3      4.0
4     10.5
5      7.0
6      8.0
7     13.0
8     10.5
9      2.5
10    14.0
11     2.5
12    12.0
13     9.0
Name: rnk, dtype: object
     ename   sal   rnk
0     KING  5000   1.0
4   MARTIN  1250  10.5
8     WARD  1250  10.5
12   ADAMS  1100  12.0
7    JAMES   950  13.0
10   SMITH   800  14.0
9     FORD  3000   2.5
11   SCOTT  3000   2.5
3    JONES  2975   4.0
1    BLAKE  2850   5.0
2    CLARK  2450   6.0
5    ALLEN  1600   7.0
6   TURNER  1500   8.0
13  MILLER  1300   9.0

## 문제140. 아래의 SQL을 판다스로 구현하시오!

SQL>  
select ename, sal, job, rank() over (order by sal desc) 순위  
    from emp  
    where job = 'SALESMAN';

In [93]:
import pandas as pd

emp = pd.read_csv("d:\\data\emp3.csv")
emp2 = emp[['ename','sal','job']][emp['job'] == 'SALESMAN']
# 판다스를 이용해서 파생변수를 생성 하는 방법

emp2['rnk'] = emp2['sal'].rank(ascending = False).apply(int)  

emp2 = emp2.sort_values('rnk', ascending = True)
print(emp2[['ename', 'sal', 'rnk']])

    ename   sal  rnk
5   ALLEN  1600    1
6  TURNER  1500    2
4  MARTIN  1250    3
8    WARD  1250    3

## 예제68. 반올림수 구하기(round)

파이썬 내장함수 round()는 인자로 입력된 수치형 자리수에서 반올림한 결과를 리턴합니다.

__예제:__  
print(round(16.554)) # 소수점 첫째 자리에서 반올림  
print(round(16.554,0))

In [96]:
print(round(16.554)) # 소수점 첫째 자리에서 반올림  
print(round(16.554,0))
print(round(16.554,1)) # 소수점 두번째 자리에서 반올림
print(round(16.554,2)) # 소수점 세번째 자리에서 반올림

print(round(142.5)) # 142가 나온다!!!!!

17
17.0
16.6
16.55
142

## print(round(142.5)) # 142가 나온다!!!!!

" R과 파이썬은 짝수를 좋아한다."

<반올림시>  
142.5 --> 142     
187.5 --> 188          

2        2.5        3  
7        7.5        8


__파이썬은 기본적으로 이것을 해결하는 함수가 없다.  
0.5일 때는 짝수를 좋아하겠금 반올림되고 0.51일때는 반올림된다.__

## ＊ 파이썬의 변환 함수정리 

|          | 데이터 유형 | 변환 함수 |
|:--------:|:-----------:|:---------:|
|  정수형  |     int     |   int()   |
|  문자형  |     str     |   str()   |
|  실수형  |    float    |  float()  |
| 리스트형 |     list    |   list()  |
|  튜플형  |    tuple    |  tuple()  |


코드 작성시 수학 연산을 하다보면 정수끼리만 계산해야하는 경우가 있다.  
이때 우리가 가진 데이터가 실수형이라 하면 실수형 자료를 정수형으로 변환한 후에 계산을 해주어야 한다.  
파이썬 내장함수 int() 는 인자로 입력된 실수형 자료를 정수형 자료로 변환해준다.  
int()는 입력된 실수형 자료의 __소수 부분은 버리고 정수부분만 취하여__ 정수값으로 리턴한다.

In [97]:
print(int(-5.4))

-5

## 문제141. 이름과 월급을 출력하는데 월급을 출력할 때 소숫점이하가 나오게 하시오!

예 : 3000.0

In [109]:
import pandas as pd

emp = pd.read_csv("d:\\data\emp3.csv")
emp['sal'] = emp['sal'].apply(float)
print(emp[['ename','sal']])

     ename     sal
0     KING  5000.0
1    BLAKE  2850.0
2    CLARK  2450.0
3    JONES  2975.0
4   MARTIN  1250.0
5    ALLEN  1600.0
6   TURNER  1500.0
7    JAMES   950.0
8     WARD  1250.0
9     FORD  3000.0
10   SMITH   800.0
11   SCOTT  3000.0
12   ADAMS  1100.0
13  MILLER  1300.0

## 예제70. 정수형 자료를 실수형 자료로 변환하기(float)

이미지 처리나 공학용 프로그램을 작성할 떄 실수형 끼리만 계산 해야하는 경우가 많다.  
이때 우리가 가진 데이터가 정수형이라고 하면  
정수형 자료를 실수형 자료로 변환한 후에 계산해 주어야 한다.  
파이썬 내장함수 float()은 인자로 입력된 정수형 자료를 실수형으로 변환해 준다.

In [110]:
print(float(10))

10.0

## 예제71. 정수형 리스트에서 짝수만 걸러내기(filter)

파이썬 내장함수인 filter()는 리스트와 같이 반복 가능한 자료에서 
특정 조건을 만족하는 값 만을 편리하게 추출할 수 있는 방법을 제공한다.  
filter()의 첫번째 인자는 특정 조건의 값을 추출하는 함수가 입력되며,  
두번째 인자는 리스트와 같이 반복가능한 자료가 입력된다.

## 예제1. 숫자를 입력해서 짝수면 값을 리턴하고 홀수이면 값을 리턴하지 않게 하는 함수를 생성

In [113]:
def get_even(num):
    if num%2 ==0:
        return num
    else:
        return

print(get_even(24)) #24
print(get_even(25)) #None

listdata = [1,2,3,4,5,6,7,8,9,10]
result = filter(get_even, listdata) #filter 첫번째 인자 : 함수명 , filter 두번째인자 : 처리해야할 리스트

print(list(result))

24
None
[2, 4, 6, 8, 10]

## 문제142.(오늘의 마지막문제)  
## 아래의 리스트에서 소수만 걸러내시오~

result = filter(getPrime,listdata)  
print(result)

[2,3,5,7]

소수란 1과 자기자신만을 약수로 가지는 숫자

In [122]:
def getPrime(num):
    if num == 1:
        return 
    
    else:
        for i in range(2,num):
            if num%i == 0:
                return 


        else:
            return num 

listdata = [1,2,3,4,5,6,7,8,9,10]
result = filter(getPrime,listdata)
print(list(result))

[2, 3, 5, 7]